<body th:insert="~{base :: body}" xmlns="http://www.w3.org/1999/html">
<div th:fragment="content">
    <p>Dear <span th:text="${firstName}"></span>,</p>
    <p>Welcome to Virtual Streaming Platform!</p>
    <p>Your account has been created successfully!</p>
    <p>It's time to start utilising our main features:</p>

    <ul style="padding-left: 0; list-style: none;">
        <li style="color: #284872; font-weight: 600">1. Extensive Library</li>
        <p>Access to a wide range of films, TV shows, documentaries, and exclusive originals.</p>
        <li style="color: #284872; font-weight: 600">2. Personalised Recommendations</li>
        <p>Enjoy personalised viewing suggestions based on your watching habits and preferences.</p>
        <li style="color: #284872; font-weight: 600">3. Multiple Profiles</li>
        <p>Create individual profiles so that everyone in the household can have their own personalised experience.</p>
        <li style="color: #284872; font-weight: 600">4. Offline Viewing</li>
        <p>Download your favourite shows and movies to watch offline at your convenience.</p>
        <li style="color: #284872; font-weight: 600">5. High-Quality Streaming</li>
        <p>Experience seamless streaming in HD and Ultra HD quality, depending on your plan and device compatibility.</p>
    </ul>

</div>
</body>